DAO1/Connected Services/FormationService/ServiceStagiaire.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Exo9" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Exo9" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="MSection">
    <xs:sequence>
      <xs:element minOccurs="0" name="CodeSection" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DebutFormation" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FinFormation" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="NomSection" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MSection" nillable="true" type="tns:MSection" />
  <xs:complexType name="ArrayOfMStagiaire">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="MStagiaire" nillable="true" type="tns:MStagiaire" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMStagiaire" nillable="true" type="tns:ArrayOfMStagiaire" />
  <xs:complexType name="MStagiaire">
    <xs:sequence>
      <xs:element minOccurs="0" name="CodePostal" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NbreNotes" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Nom" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NumOsia" type="xs:int" />
      <xs:element minOccurs="0" name="PointsNotes" type="xs:double" />
      <xs:element minOccurs="0" name="Prenom" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Rue" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Ville" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MStagiaire" nillable="true" type="tns:MStagiaire" />
  <xs:complexType name="MStagiaireCIF">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:MStagiaire">
        <xs:sequence>
          <xs:element minOccurs="0" name="Fongecif" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="TypeCif" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="MStagiaireCIF" nillable="true" type="tns:MStagiaireCIF" />
  <xs:complexType name="MStagiaireDE">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:MStagiaire">
        <xs:sequence>
          <xs:element minOccurs="0" name="RemuAfpa" type="xs:boolean" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="MStagiaireDE" nillable="true" type="tns:MStagiaireDE" />
</xs:schema>