Client/DAO/Connected Services/FormationService/ServiceStagiaire.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ServiceStagiaire" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:56711/ServiceStagiaire.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:56711/ServiceStagiaire.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:56711/ServiceStagiaire.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Exo9" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServiceStagiaire_GetSection_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSection" />
  </wsdl:message>
  <wsdl:message name="IServiceStagiaire_GetSection_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSectionResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceStagiaire_GetStagiairesSection_InputMessage">
    <wsdl:part name="parameters" element="tns:GetStagiairesSection" />
  </wsdl:message>
  <wsdl:message name="IServiceStagiaire_GetStagiairesSection_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetStagiairesSectionResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceStagiaire_AddStagiaire_InputMessage">
    <wsdl:part name="parameters" element="tns:AddStagiaire" />
  </wsdl:message>
  <wsdl:message name="IServiceStagiaire_AddStagiaire_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddStagiaireResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceStagiaire_UpdateStagiaire_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateStagiaire" />
  </wsdl:message>
  <wsdl:message name="IServiceStagiaire_UpdateStagiaire_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateStagiaireResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceStagiaire_DeleteStagiaire_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteStagiaire" />
  </wsdl:message>
  <wsdl:message name="IServiceStagiaire_DeleteStagiaire_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteStagiaireResponse" />
  </wsdl:message>
  <wsdl:portType name="IServiceStagiaire">
    <wsdl:operation name="GetSection">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceStagiaire/GetSection" message="tns:IServiceStagiaire_GetSection_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceStagiaire/GetSectionResponse" message="tns:IServiceStagiaire_GetSection_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetStagiairesSection">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceStagiaire/GetStagiairesSection" message="tns:IServiceStagiaire_GetStagiairesSection_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceStagiaire/GetStagiairesSectionResponse" message="tns:IServiceStagiaire_GetStagiairesSection_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddStagiaire">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceStagiaire/AddStagiaire" message="tns:IServiceStagiaire_AddStagiaire_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceStagiaire/AddStagiaireResponse" message="tns:IServiceStagiaire_AddStagiaire_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateStagiaire">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceStagiaire/UpdateStagiaire" message="tns:IServiceStagiaire_UpdateStagiaire_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceStagiaire/UpdateStagiaireResponse" message="tns:IServiceStagiaire_UpdateStagiaire_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteStagiaire">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceStagiaire/DeleteStagiaire" message="tns:IServiceStagiaire_DeleteStagiaire_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceStagiaire/DeleteStagiaireResponse" message="tns:IServiceStagiaire_DeleteStagiaire_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BindingStagiaireHttp" type="tns:IServiceStagiaire">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetSection">
      <soap:operation soapAction="http://tempuri.org/IServiceStagiaire/GetSection" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetStagiairesSection">
      <soap:operation soapAction="http://tempuri.org/IServiceStagiaire/GetStagiairesSection" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddStagiaire">
      <soap:operation soapAction="http://tempuri.org/IServiceStagiaire/AddStagiaire" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateStagiaire">
      <soap:operation soapAction="http://tempuri.org/IServiceStagiaire/UpdateStagiaire" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteStagiaire">
      <soap:operation soapAction="http://tempuri.org/IServiceStagiaire/DeleteStagiaire" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServiceStagiaire">
    <wsdl:port name="BindingStagiaireHttp" binding="tns:BindingStagiaireHttp">
      <soap:address location="http://localhost:56711/ServiceStagiaire.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>