Client/DAO/Connected Services/FormationService/ServiceStagiaire1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:56711/ServiceStagiaire.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Exo9" />
  <xs:element name="GetSection">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codeSection" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSectionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Exo9" minOccurs="0" name="GetSectionResult" nillable="true" type="q1:MSection" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStagiairesSection">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codeSection" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStagiairesSectionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Exo9" minOccurs="0" name="GetStagiairesSectionResult" nillable="true" type="q2:ArrayOfMStagiaire" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddStagiaire">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Exo9" minOccurs="0" name="newStagiaire" nillable="true" type="q3:MStagiaire" />
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Exo9" minOccurs="0" name="laSection" nillable="true" type="q4:MSection" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddStagiaireResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddStagiaireResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateStagiaire">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Exo9" minOccurs="0" name="leStagiaire" nillable="true" type="q5:MStagiaire" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateStagiaireResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateStagiaireResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteStagiaire">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="laCleStagiaire" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteStagiaireResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteStagiaireResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>